<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value=""/>
  <add key="FromEmailPassword" value=""/>
  <add key="FromName" value=""/>
  <add key="AdminEmail" value=""/>
  <add key="CurrentLink" value=""/>
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value=""/>
  <add key="MerchantPassword" value=""/>
  <add key="MerchantEmail" value=""/>
</appSettings>